header{
    display: flex;
}

.title{
    color: rgb(255, 145, 0);
    font-size: 30px;
    background-color: rgb(117, 117, 117);
    width: 100%;
    margin: 0 0 0 0;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top:20px;
}

.menu-item{
    color: rgb(255, 255, 255);
    right: 10px;
    position: absolute;
    z-index: 5;
}

.big{
    font-size: 50px;
    color: aliceblue;
}

.title_item{
    z-index: 3;
    text-align: center;
    outline: 3px;
    top:20px;
}

.img_rogo{
    position:absolute;
    top:75px;
    left:0px;
    z-index: -1;
}

.img_back{
    position: absolute;
    top:50px;
    z-index: -2;
    height: 70%;
    object-fit: cover;
}